.title {
  font-size: 24px;
}

.post {
  padding: 10px 50px;
  display: flex;
  align-items: center;
}

.post-text {
  flex: 1;
}

.delete-btn {
  background-color: #fff;
  border: none;
  height: 10px;
  font-size: 24px;
}
